# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        containers:
          app:
            image:
              repository: ghcr.io/linkwarden/linkwarden
              tag: v2.13.1
          
            env:
              NEXTAUTH_URL: "https://linkwarden.${SECRET_DOMAIN}/api/v1/auth"
              # Generate with `openssl rand -base64 32`
              NEXTAUTH_SECRET: "${SECRET_LINKWARDEN_NEXTAUTH_SECRET}"
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: "${APP_NAME}-postgresql-credentials"
                    key: url

      
    service:
      webui:
        controller: ${APP_NAME}
        ports:
          http:
            port: 3000

    ingress:
      webui:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        hosts:
          - host: &ingress "linkwarden.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - *ingress
      tailscale:
        className: tailscale
        hosts:
          - host: "${APP_NAME}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - "${APP_NAME}"
        
    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        advancedMounts:
          ${APP_NAME}:
            app:
              - path: /data/data
