# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking
  annotations:
    meta.helm.sh/release-namespace: "networking"
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: 35.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system

  values:
    deployment:
      replicas: 1

    service:
      externalIPs:
        - "${CONFIG_KUBE_VIP_IP}"
  
    logs:
      general:
        level: INFO

      access:
        enabled: true

    ingressClass:
      enabled: true
      isDefaultClass: true

    ingressRoute:
      dashboard:
        # helm chart use PathPrefix(`/dashboard`) || PathPrefix(`/api`), i want to use a subdomain
        # => use an IngressRoute object for the dashboard
        enabled: false

    metrics:
      prometheus:
        entryPoint: metrics

    globalArguments:
      - "--global.checknewversion"

    additionalArguments:
      - "--serverstransport.insecureskipverify=true"
      - "--providers.kubernetescrd.allowCrossNamespace=true"
      - "--entryPoints.websecure.forwardedHeaders.trustedIPs=10.0.0.0/8,192.168.0.0/16,172.16.0.0/12,127.0.0.1/32"
      - "--entrypoints.websecure.transport.respondingTimeouts.readTimeout=600s"
      - "--entrypoints.websecure.transport.respondingTimeouts.idleTimeout=600s"
      - "--entrypoints.websecure.transport.respondingTimeouts.writeTimeout=600s"

    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
        allowExternalNameServices: true
      kubernetesIngress:
        enabled: true
        allowExternalNameServices: true
        ingressClass: "traefik"

    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
            priority: 10
      websecure:
        tls:
          enabled: true
          options: default

  # NOTE: Add out self signed root ca cert to traefik to get working setup with our self signed cert from oidc auth provider
  postRenderers:
    - kustomize:
        patches:
          - target: 
              kind: Deployment
              name: traefik
            patch: |-
              - op: add
                path: /spec/template/spec/volumes/-
                value:
                  name: certs
                  secret:
                   defaultMode: 420
                   secretName: internal-ca
          - target: 
              kind: Deployment
              name: traefik
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/volumeMounts/-
                value:
                  mountPath: /etc/ssl/certs/internal-ca.pem
                  name: certs
                  subPath: tls.crt
