# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        initContainers:
          init:
            image:
              repository: busybox
              tag: "1.37.0"
            command:
            - "/bin/mkdir"
            args:
            - "-m"
            - "777"
            - "-p"
            - "/init/perplexica/data"
            - "/init/perplexica/uploads"

        containers:
          app:
            image:
              repository: itzcrazykns1337/perplexica
              tag: main@sha256:b5627639b3221351948b2ca95f0d5d8680e8a324bc0ff591ad48849e97fcaab6

      searxng:
        containers:
          app:
            image:
              # NOTE: we should schwitch to global hosted searxng
              repository: docker.io/searxng/searxng
              tag: "2024.12.25-73e395c8c"

    service:
      webui:
        controller: ${APP_NAME}
        ports:
          http:
            port: 3000

      searxng:
        controller: searxng
        ports:
          http:
            port: 8080

    ingress:
      backend:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        hosts:
          - host: &ingress "perplexica.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - *ingress
    
    configMaps:
      config:
        data:
          config.toml: |
            [GENERAL]
            SIMILARITY_MEASURE = "cosine"
            KEEP_ALIVE = "5m"

            [MODELS.OPENAI]
            API_KEY = ""

            [MODELS.GROQ]
            API_KEY = ""

            [MODELS.ANTHROPIC]
            API_KEY = ""

            [MODELS.GEMINI]
            API_KEY = ""

            [MODELS.CUSTOM_OPENAI]
            API_KEY = ""
            API_URL = ""
            MODEL_NAME = ""

            [MODELS.OLLAMA]
            API_URL = "http://open-webui-ollama.${APP_NAMESPACE}.svc.cluster.local:11434"

            [API_ENDPOINTS]
            SEARXNG = "http://${APP_NAME}-searxng.${APP_NAMESPACE}.svc.cluster.local:8080"
          limiter.toml: |
            [botdetection.ip_limit]
            link_token = true
          settings.yml: |
            use_default_settings: true
            general:
              instance_name: 'searxng'
            search:
              autocomplete: 'google'
              formats:
                - html
                - json
            server:
              secret_key: ${SECRET_SEARXNG_KEY}
            engines:
              - name: wolframalpha
                disabled: false
          uwsgi.ini: |
            [uwsgi]
            uid = searxng
            gid = searxng
            workers = %k
            threads = 4
            chmod-socket = 666
            single-interpreter = true
            master = true
            plugin = python3
            lazy-apps = true
            enable-threads = 4
            module = searx.webapp
            pythonpath = /usr/local/searxng/
            chdir = /usr/local/searxng/searx/
            auto-procname = true
            disable-logging = true
            log-5xx = true
            buffer-size = 8192
            add-header = Connection: close
            static-map = /static=/usr/local/searxng/searx/static
            static-expires = /* 86400
            static-gzip-all = True
            offload-threads = 4
    
    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        advancedMounts:
          ${APP_NAME}:
            init:
              - path: /init
            app:
              - path: /home/perplexica/data
                subPath: perplexica/data
              - path: /home/perplexica/uploads
                subPath: perplexica/uploads
      config:
        type: configMap
        name: ${APP_NAME}-config
        advancedMounts:
          searxng:
            app: 
              - path: /etc/searxng/limiter.toml
                subPath: limiter.toml
              - path: /etc/searxng/settings.yml
                subPath: settings.yml
              - path: /etc/searxng/uwsgi.ini
                subPath: uwsgi.ini
          ${APP_NAME}:
            app:
            - path: /home/perplexica/config.toml
              subPath: config.toml
