---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: cnpg-charts
  namespace: flux-system
spec:
  interval: 1h
  url: https://cloudnative-pg.github.io/charts
  timeout: 3m
