apiVersion: v1
type: Opaque
kind: Secret
metadata:
  name: ${APP_NAME}-credentials
  namespace: ${APP_NAMESPACE}
stringData:
  jwtSecret: ${SECRET_DATABASE_PASSWORD}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        containers:
          app:
            image:
              repository: docker.io/vikunja/vikunja
              tag: "0.24.6"

            env:
              TZ: "${CONFIG_TIMEZONE}"
              VIKUNJA_SERVICE_PUBLICURL: "https://vikunja.${SECRET_DOMAIN}/"
              VIKUNJA_SERVICE_ENABLEREGISTRATION: "true"
              VIKUNJA_DATABASE_TYPE: postgres
              VIKUNJA_DATABASE_USER:
                valueFrom:
                  secretKeyRef:
                    name: &postgresqlCredentials "${APP_NAME}-postgresql-credentials"
                    key: username
              VIKUNJA_DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *postgresqlCredentials
                    key: password
              VIKUNJA_DATABASE_DATABASE:
                valueFrom:
                  secretKeyRef:
                    name: *postgresqlCredentials
                    key: database
              VIKUNJA_DATABASE_HOST:
                valueFrom:
                  secretKeyRef:
                    name: *postgresqlCredentials
                    key: uri
              VIKUNJA_SERVICE_JWTSECRET:
                valueFrom:
                  secretKeyRef:
                    name: "${APP_NAME}-credentials"
                    key: jwtSecret
 

    service:
      webui:
        controller: ${APP_NAME}
        ports:
          http:
            port: 3456

    ingress:
      webui:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        hosts:
          - host: &ingress "vikunja.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - *ingress

      tailscale:
        className: tailscale
        hosts:
          - host: "${APP_NAME}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http

        tls:
          - hosts:
              - "${APP_NAME}"

    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        advancedMounts:
          ${APP_NAME}:
            app:
              - path: /app/vikunja/files
