# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app csi-driver-nfs
  namespace: storage
spec:
  interval: 10m
  chart:
    spec:
      chart: *app
      version: 4.12.1
      sourceRef:
        kind: HelmRepository
        name: csi-driver-nfs-charts
        namespace: flux-system

  values:
    controller:
      replicas: 1
      
  postRenderers:
    - kustomize: 
        # see https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/deploy/csi-nfs-controller.yaml
        patches:
          - target: 
              kind: Deployment
              name: csi-nfs-controller
            patch: |
              - op: remove
                path: /spec/template/spec/hostNetwork
          - target: 
              kind: Deployment
              name: csi-nfs-controller
            patch: |
              - op: remove
                path: /spec/template/spec/containers/4/livenessProbe

  
