apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-db
  namespace: flux-system
  labels:
    kustomize.patches/append: true
spec:
  path: "./kubernetes/templates/postgres"
  wait: true
  postBuild:
    substitute:
      APP_NAME: immich
      APP_NAMESPACE: media
      POSTGRES_DATABASE: "immich"
      POSTGRES_ENABLE_SUPERUSER: "true"
      POSTGRES_CATALOG: "postgresql-pgvertors"
      POSTGRES_MAJOR: "16"
  patches:
    - target:
        kind: Cluster
        # NOTE labelSelector and name does not work!?
        # labelSelector: kustomize.toolkit.fluxcd.io/name in (immich-db)
      patch: |
        - op: add
          path: /spec/postgresql
          value:
            shared_preload_libraries:
              - "vectors.so"
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich
  namespace: flux-system
spec:
  path: "./kubernetes/apps/immich/app"
  dependsOn:
    - name: immich-db
    - name: tailscale
  postBuild:
    substitute:
      APP_NAME: immich
      APP_NAMESPACE: media
      PVC_CAPACITY: "128Gi"
