# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
  namespace: flux-system
spec:
  interval: 10m
  chart:
    spec:
      chart: flux-operator
      version: 0.33.0
      sourceRef:
        kind: HelmRepository
        name: controlplaneio-fluxcd-charts
        namespace: flux-system
