# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        initContainers:
          init:
            image:
              repository: docker.io/busybox
              tag: "1.37.0"
            command:
            - "/bin/mkdir"
            args:
            - "-m"
            - "777"
            - "-p"
            - "/init/act"
            - "/init/docker"
            - "/init/certs"
          certs:
            image:
              repository: docker.io/alpine
              tag: "3.22"
            command: ["/bin/sh", "-c"]
            args:
              - |
                apk add --no-cache ca-certificates
                update-ca-certificates
                cp -aLf /etc/ssl/certs /init/certs

        containers:
          app:
            securityContext:
              privileged: true
              fsGroup: 1000
              runAsUser: 1000
              runAsGroup: 1000

            image:
              # TODO fix renovate
              repository: docker.io/vegardit/gitea-act-runner
              tag: "dind-0.2.12@sha256:06e4b98c3c8f28d4891d59a1deb8c1189830ecfa9ea49dc4013f0dabae1258c7"

            # NOTE: When you change something here delete the persistent data of the runner to ensure to apply the new settings!
            env:
              # action `docker/build-push-action`, `comment-pull-request`, ... do not play nice with self signed certs
              # GITEA_INSTANCE_URL: "https://git.${SECRET_DOMAIN}" # dies does not work with some action plugins
              GITEA_INSTANCE_URL: "http://gitea-webui.${APP_NAMESPACE}.svc.cluster.local:3000" # Workaround access internal http endpoint direct
              GITEA_INSTANCE_INSECURE: true
              GITEA_RUNNER_REGISTRATION_TOKEN: "${SECRET_GITEA_RUNNER_TOKEN}"
              GITEA_RUNNER_LOG_LEVEL: "info"
              GITEA_RUNNER_JOB_CONTAINER_PRIVILEGED: true
              GITEA_RUNNER_LOG_EFFECTIVE_CONFIG: true
              GITEA_RUNNER_UID: 1000
              GITEA_RUNNER_GID: 1000
              GITEA_RUNNER_MAX_PARALLEL_JOBS: 4
              GITEA_RUNNER_JOB_CONTAINER_OPTIONS: "-e RUNNER_TEMP=/tmp --mount type=bind,source=/etc/ssl/certs,target=/etc/ssl/certs,readonly"
              GITEA_RUNNER_VALID_VOLUME_1: /etc/ssl/certs
              GITEA_RUNNER_ENV_VAR_1_NAME: "REGISTRY"
              GITEA_RUNNER_ENV_VAR_1_VALUE: "git.${SECRET_DOMAIN}"
              # NOTE the default nix container does nto work in actions see https://icewind.nl/entry/gitea-actions-nix/
              GITEA_RUNNER_LABELS: "ubuntu-latest:docker://ghcr.io/catthehacker/ubuntu:act-latest,ubuntu-latest-full:docker://ghcr.io/catthehacker/ubuntu:full-latest,ubuntu-20.04:docker://ghcr.io/catthehacker/ubuntu:act-20.04,ubuntu-22.04:docker://ghcr.io/catthehacker/ubuntu:act-22.04,ubuntu-24.04:docker://ghcr.io/catthehacker/ubuntu:act-24.04"

    persistence:
      data:
        suffix: data
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: ${PVC_CAPACITY}
        storageClass: "openebs-zfspv-reprovisioned"
        advancedMounts:
          ${APP_NAME}:
            init:
              - path: /init
            certs:
              - path: /init
            app:
              - path: /data
                subPath: "act"
              - path: /var/lib/docker
                subPath: "docker"
              - path: /etc/ssl/certs
                subPath: "certs"
      certs:
        type: secret
        name: internal-ca
        globalMounts:
          - path: /etc/ssl/certs/internal-ca.pem
            subPath: tls.crt


