apiVersion: v1
type: Opaque
kind: Secret
metadata:
  name: ${APP_NAME}-secret
  namespace: ${APP_NAMESPACE}
stringData:
  #NOTE: default user is admin
  LLDAP_LDAP_USER_PASS: ${SECRET_WEBSERVICES_PASSWORD}
  LLDAP_USER_DN: "dc=home,dc=lan"
  LLDAP_LDAP_USER_EMAIL: "${SECRET_DATABASE_USER}@${SECRET_DOMAIN}"
  LLDAP_JWT_SECRET: "${SECRET_LLDAP_JWT_SECRET}"
  LLDAP_SERVER_KEY_SEED: "${SECRET_LLDAP_SERVER_KEY_SEED}"
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controllers:
      ${APP_NAME}:
        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: v0.5.0
            env:
              TZ: "${TIMEZONE}"
              LLDAP_HTTP_PORT: &port 80
              LLDAP_HTTP_URL: https://lldap.${SECRET_DOMAIN}
              LLDAP_LDAP_PORT: &ldapPort 389
              LLDAP_LDAP_BASE_DN: dc=home,dc=lan
              LLDAP_DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: "${APP_NAME}-postgresql-credentials"
                    key: url            
            envFrom:
              - secretRef:
                  name: ${APP_NAME}-secret
 
    service:
      lldap:
        controller: ${APP_NAME}
        ports:
          http:
            port: *port
          ldap:
            port: *ldapPort

    ingress:
      webui:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        hosts:
          - host: &ingress "lldap.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: lldap
                  port: http
        tls:
          - hosts:
              - *ingress

