# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        containers:
          app:
            image:
              repository: docker.io/s1t5/mailarchiver
              tag: "2510.5"

            env:
              ConnectionStrings__DefaultConnection: "Host=${APP_NAME}-postgresql-rw.${CONFIG_DATABASE_NAMESPACE}.svc.cluster.local;Database=${POSTGRES_DATABASE};Username=${SECRET_DATABASE_USER};Password=${SECRET_DATABASE_PASSWORD};"
              Authentication__Username: admin
              Authentication__Password: "${SECRET_WEBSERVICES_PASSWORD}"
              MailSync__IntervalMinutes: 30
              MailSync__TimeoutMinutes: 60
              MailSync__ConnectionTimeoutSeconds: 180
              MailSync__CommandTimeoutSeconds: 300
              MailSync__AlwaysForceFullSync: false
              MailSync__IgnoreSelfSignedCert: false
              BatchRestore__AsyncThreshold: 50
              BatchRestore__MaxSyncEmails: 150
              BatchRestore__MaxAsyncEmails: 50000
              BatchRestore__SessionTimeoutMinutes: 30
              BatchRestore__DefaultBatchSize: 50
              BatchOperation__BatchSize: 50
              BatchOperation__PauseBetweenEmailsMs: 50
              BatchOperation__PauseBetweenBatchesMs: 250
              Selection__MaxSelectableEmails: 250
              Npgsql__CommandTimeout: 900
              Upload__MaxFileSizeGB: 10
              Upload__KeepAliveTimeoutHours: 4
              Upload__RequestHeadersTimeoutHours: 2

    service:
      webui:
        controller: ${APP_NAME}
        ports:
          http:
            port: 5000

    ingress:
      webui:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        hosts:
          - host: &ingress "mail-archiver.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - *ingress

    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        advancedMounts:
          ${APP_NAME}:
            app:
              - path: /app/DataProtection-Keys
