# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        containers:
          app:
            image:
              repository: ghcr.io/sethforprivacy/simple-monerod
              tag: v0.18.4.3
            command:
            - "/entrypoint.sh"
            args:
            - "--rpc-restricted-bind-ip=0.0.0.0"
            - "--rpc-restricted-bind-port=18089"
            - "--no-igd"
            - "--no-zmq"
            - "--enable-dns-blocklist"
            - "--prune-blockchain"
            - "--db-sync-mode=safe"
            env:
              TZ: "${CONFIG_TIMEZONE}"
            resources:
              requests:
                cpu: 10m
              limits:
                cpu: 1000m
      
    service:
      app:
        controller: ${APP_NAME}
        type: LoadBalancer
        loadBalancerIP: "${CONFIG_KUBE_VIP_IP}"
        annotations:
          external-dns.alpha.kubernetes.io/hostname: monero.${SECRET_DOMAIN}
        ports:
          rpc:
            port: 18089
            protocol: TCP

    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        globalMounts:
          - path: /home/monero/.bitmonero
