apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: scrutiny
  namespace: flux-system
spec:
  path: "./kubernetes/apps/scrutiny/app"
  dependsOn:
    - name: influxdb2
  postBuild:
    substitute:
      APP_NAME: scrutiny
      APP_NAMESPACE: monitoring
      PVC_CAPACITY: "1Gi"
