# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        initContainers:
          # start delay to fix some wg interface problems
          init:
            image:
              repository: docker.io/busybox
              tag: "1.37.0"
            command:
            - "/bin/sleep"
            args:
            - "30"
        containers:
          app:
            image:
              repository: ghcr.io/wg-easy/wg-easy
              tag: "15"
            env:
              PORT: &webui 51821
              DISABLE_IPV6: true
              INIT_ENABLED: true
              INIT_USERNAME: "admin"
              # NOTE: min pw length is 12 characters
              INIT_PASSWORD: "${SECRET_WEBSERVICES_PASSWORD}-wg"
              INIT_HOST: &ingress "wg.${SECRET_DOMAIN}"
              INIT_PORT: &wg 51820
              INIT_DNS: "${CONFIG_WG_DNS}"
              INIT_IPV4_CID: "10.8.0.0/24"
              INIT_IPV6_CID: "2001:0DB8::/32"
            securityContext:
              capabilities:
                add: ["NET_ADMIN", "SYS_MODULE", "NET_RAW"]

    service:
      webui:
        controller: ${APP_NAME}
        ports:
          http:
            port: *webui
      api:
        controller: ${APP_NAME}
        type: LoadBalancer
        loadBalancerIP: "${CONFIG_KUBE_VIP_IP}"
        annotations:
          external-dns.alpha.kubernetes.io/hostname: wg.${SECRET_DOMAIN}
        ports:
          wireguard:
            port: *wg
            protocol: UDP

    ingress:
      webui:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        hosts:
          - host: "wireguard.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - *ingress
        
    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        globalMounts:
          - path: /etc/wireguard
          
