# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        containers:
          app:
            image:
              repository: ghcr.io/wg-easy/wg-easy
              tag: "15"
            env:
              WG_HOST: &ingress "wireguard.${SECRET_DOMAIN}"
              WG_PORT: &wg 51820
              PORT: &webui 51821
              WG_DEFAULT_DNS: "${CONFIG_WG_DNS}"
              WG_DEFAULT_ADDRESS: "10.8.0.x"
            securityContext:
              capabilities:
                add: ["NET_ADMIN", "SYS_MODULE"]

    service:
      webui:
        controller: ${APP_NAME}
        ports:
          http:
            port: *webui
      ingress:
        controller: ${APP_NAME}
        type: LoadBalancer
        loadBalancerIP: "${CONFIG_KUBE_VIP_IP}"
        ports:
          wireguard:
            port: *wg
            protocol: UDP

    ingress:
      webui:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: "authentication-auth@kubernetescrd"
        hosts:
          - host: *ingress
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - *ingress
        
    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        globalMounts:
          - path: /etc/wireguard
          
