apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app vault-autounseal
  namespace: ${APP_NAMESPACE}
spec:
  chart:
    spec:
      chart: vault-autounseal
      version: 0.5.2
      sourceRef:
        kind: HelmRepository
        name: vault-autounseal-charts
        namespace: flux-system

  values:
    image:
      repository: kennyopennix/vault-autounseal
      tag: "main"
      
    settings:
      vault_url: "http://vault.${APP_NAMESPACE}.svc.cluster.local:8200"
      vault_secret_shares: 3
      vault_secret_threshold: 2
      vault_root_token_secret: vault-root-token
      vault_keys_secret: vault-keys
