apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${APP_NAMESPACE}
resources:
  - ../../../templates/volsync-pvc
  - app.yaml
 # enable this to get deiscovery for new devices:
 # NOTE: is now obsolete we now use multus to fix this
 #  - unifi-udp-discovery.yaml
