apiVersion: v1
type: Opaque
kind: Secret
metadata:
  name: ${APP_NAME}-secret
  namespace: ${APP_NAMESPACE}
stringData:
  ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: ${SECRET_DATABASE_PASSWORD}
  ZIGBEE2MQTT_CONFIG_MQTT_USER: ${SECRET_DATABASE_USER}
  ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: !!str ${SECRET_ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID}
  ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: !!str ${SECRET_ZIGBEE2MQTT_CONFIG_NETWORK_KEY}
  #ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: "GENERATE"
  #ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: "GENERATE" 
  #ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: "GENERATE"
  #ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: "0x1a62" 
  #ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: "[221, 221, 221, 221, 221, 221, 221, 221]"
  #ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: "[ 1, 3, 5, 7, 9, 11, 13, 15, 0, 2, 4, 6, 8, 10, 12, 13 ]"
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        containers:
          app:
            image:
              repository: ghcr.io/koenkk/zigbee2mqtt
              tag: 1.40.2

            env:
              TZ: "${CONFIG_TIMEZONE}"
              ZIGBEE2MQTT_DATA: /data
              ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_DISCOVERY_TOPIC: homeassistant
              ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_ENTITY_ATTRIBUTES: "false"
              ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_TRIGGERS: "false"
              ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_STATUS_TOPIC: homeassistant/status
              ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: ISO_8601
              ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: "false"
              ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_AVAILABILITY_PAYLOAD: "false"
              ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: info
              ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
              ZIGBEE2MQTT_CONFIG_AVAILABILITY_ACTIVE_TIMEOUT: 60
              ZIGBEE2MQTT_CONFIG_AVAILABILITY_PASSIVE_TIMEOUT: 2000
              ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_LEGACY: "false"
              ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_RETAIN: "true"
              ZIGBEE2MQTT_CONFIG_EXPERIMENTAL_NEW_API: "true"
              ZIGBEE2MQTT_CONFIG_HOMEASSISTANT: "true"
              ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC: zigbee2mqtt
              ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: "true"
              ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: 60
              ZIGBEE2MQTT_CONFIG_MQTT_REJECT_UNAUTHORIZED: "true"
              ZIGBEE2MQTT_CONFIG_MQTT_SERVER: "mqtt://mosquitto.${APP_NAMESPACE}.svc.cluster.local:1883"      
              ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 5       
              ZIGBEE2MQTT_CONFIG_SERIAL_PORT: ${CONFIG_ZIGBEE2MQTT_DEVICE}
              ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: deconz
              ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: 115200
              ZIGBEE2MQTT_CONFIG_SERIAL_DISABLE_LED: false
              ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: "false"
              ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: ${SECRET_ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID}
            envFrom:
              - secretRef:
                  name: ${APP_NAME}-secret

    service:
      webui:
        controller: ${APP_NAME}
        ports:
          http:
            port: 8080

    ingress:
      webui:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: "authentication-auth@kubernetescrd"
        hosts:
          - host: &ingress "zigbee.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - *ingress
        
    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        globalMounts:
          - path: /data
