---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zfs-localpv
  namespace: storage
spec:
  interval: 10m
  chart:
    spec:
      chart: zfs-localpv
      version: "2.8.0"
      sourceRef:
        name: zfs-localpv-charts
        kind: HelmRepository
        namespace: flux-system
  values:
    # see https://github.com/openebs/zfs-localpv/blob/develop/deploy/helm/charts/values.yaml
    zfs:
      bin: /run/current-system/sw/bin/zfs
    # We use a fork of csi-provisioner which allow to use templated names for provisioned PV's instead of UUIDs so we can reuse previously provisioned PV's
    # see https://github.com/anoxape/external-reprovisioner
    zfsController:
      provisioner:
        image:
          registry: ghcr.io/
          repository: anoxape/csi-provisioner
          tag: v5.3.0-r1
