# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

recorder: 
  db_url: !env_var HASS_RECORDER_DB_URL

http:
  use_x_forwarded_for: true
  trusted_proxies:
  - !env_var HASS_TRUSTED_PROXIES

python_script:

notify:
  - name: email_notify
    platform: smtp
    server: email2signal-mail.notification.svc
    port: 1025
    sender: hass@k8s.lan
    encryption: none
    recipient:
      - self@signal.localdomain
    sender_name: 'Home Assistant'
