apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ./helm-release.yaml
configMapGenerator:
  - name: solaredge-dashboard
    files:
      - dashboards/solaredge.json
  - name: esp-dashboard
    files:
      - dashboards/esp.json
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  labels:
    grafana_dashboard: "true"
