# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: reloader
      version: 1.3.0
      sourceRef:
        kind: HelmRepository
        name: stakater-charts
        namespace: flux-system

  values:
    reloader:
      podMonitor:
        enabled: true

      reloadStrategy: annotations
