apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  buffering:
    maxRequestBodyBytes: 50000000000
    memRequestBodyBytes: 1000000000
    maxResponseBodyBytes: 50000000000
    memResponseBodyBytes: 1000000000
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      ${APP_NAME}:
        containers:
          app:
            image:
              repository: docker.io/gitea/gitea
              tag: "1.25.0"

            command:
            - "/bin/sh"
            args:
            - "-c"
            - "update-ca-certificates && /usr/bin/entrypoint"

            env:
              USER_UID: "1000"
              USER_GID: "1000"
              SSH_LISTEN_PORT: &sshPort 222
              SSH_PORT: *sshPort
              LFS_START_SERVER: "true"
              APP_NAME: "Gitea"
              DOMAIN: "git.${SECRET_DOMAIN}"
              SSH_DOMAIN: "git.${SECRET_DOMAIN}"
              ROOT_URL: "https://git.${SECRET_DOMAIN}/"
              DISABLE_REGISTRATION: "true"
              REQUIRE_SIGNIN_VIEW: "false"
              GITEA__webhook__ALLOWED_HOST_LIST: "*"
              GITEA__webhook__SKIP_TLS_VERIFY: "true"
              GITEA__api_ENABLE_SWAGGER: "true"
              GITEA__packages__ENABLED: "true"
              GITEA__actions__ENABLED: "true"
              GITEA__actions__LOG_RETENTION_DAYS: "90"
              GITEA__migrations__SKIP_TLS_VERIFY: "true"
              GITEA__migrations__ALLOW_LOCALNETWORKS: "true"
              GITEA__cron__ENABLED: "true"
              GITEA__cron__RUN_AT_START: "true"
              GITEA__mailer__ENABLED: "true"
              GITEA__mailer__FROM: "gitea@${SECRET_DOMAIN}"
              GITEA__mailer__PROTOCOL: "smtp"
              GITEA__mailer__SMTP_ADDR: "${CONFIG_MAIL_NOTIFICATION_HOST}"
              GITEA__mailer__SMTP_PORT: "${CONFIG_MAIL_NOTIFICATION_PORT}"


    service:
      webui:
        controller: ${APP_NAME}
        ports:
          http:
            port: 3000
      ssh:
        controller: ${APP_NAME}
        type: LoadBalancer
        loadBalancerIP: "${CONFIG_KUBE_VIP_IP}"
        annotations:
          external-dns.alpha.kubernetes.io/hostname: git.${SECRET_DOMAIN}
        ports: 
          ssh:
            port: *sshPort
            protocol: TCP

    ingress:
      webui:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: "${APP_NAMESPACE}-${APP_NAME}@kubernetescrd"
        hosts:
          - host: &ingress "git.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - *ingress

      tailscale:
        className: tailscale
        hosts:
          - host: "${APP_NAME}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: webui
                  port: http
        tls:
          - hosts:
              - "${APP_NAME}"

    persistence:
      data:
        existingClaim: "${APP_NAME}-pvc"
        advancedMounts:
          ${APP_NAME}:
            app:
            - path: /data
      certs:
        type: secret
        name: internal-ca
        advancedMounts:
          ${APP_NAME}:
            app:
            - path: /etc/ssl/certs/internal-ca.pem
              subPath: tls.crt
