# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: kubetail
      version: 0.15.4
      sourceRef:
        kind: HelmRepository
        name: kubetail-charts
        namespace: flux-system
  values:
    kubetail:
      dashboard:
        service:
          name: &service-name kubetail
        ingress:
          enabled: true
          className: traefik
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.middlewares: "authentication-auth@kubernetescrd"
          rules:
            - host: &host "kubetail.${SECRET_DOMAIN}"
              http:
                paths:
                  - path: /
                    pathType: Prefix
                    backend:
                      service:
                        name: *service-name
                        port:
                          number: 8080
          tls:
          - hosts:
              - *host

