# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: postgres-operator
  namespace: database
  annotations:
    meta.helm.sh/release-namespace: "database"
spec:
  interval: 10m
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.26.1
      sourceRef:
        kind: HelmRepository
        name: cnpg-charts
        namespace: flux-system

  values:
    monitoring:
      podMonitoringEnabled: true

  postRenderers:
    - kustomize: 
        patches:
          - target: 
              kind: CustomResourceDefinition
              name: clusters.postgresql.cnpg.io
            patch: |
              - op: add
                path: /spec/versions/0/schema/openAPIV3Schema/properties/spec/properties/bootstrap/properties/initdb/properties/source
                value: 
                  description: unused
                  type: string
