apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  selector:
    matchLabels:
      app: ${APP_NAME}
  template:
    metadata:
      labels:
        app: ${APP_NAME}
    spec:
      hostNetwork: false
      hostPID: true
      hostIPC: true
      containers:
      - name: ${APP_NAME}
        image: ghcr.io/niki-on-github/container-image-puller:v0.1.2
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /host
          name: host
        ports:
        - containerPort: 8080
      volumes:
      - name: host
        hostPath:
          path: /
---
apiVersion: v1
kind: Service
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  selector:
    app: ${APP_NAME}
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: ClusterIP
