apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gitea
  namespace: flux-system
spec:
  path: "./kubernetes/apps/gitea/app"
  dependsOn:
    - name: tailscale
  postBuild:
    substitute:
      APP_NAME: gitea
      APP_NAMESPACE: apps
      PVC_CAPACITY: "32Gi"
      BACKUP_CACHE_CAPACITY: "4Gi"
      BACKUP_SCHEDULE: "0 */1 * * *"
