# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP_NAME}
  namespace: ${APP_NAMESPACE}
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      rsync:
        containers:
          app:
            image:
              repository: docker.io/eeacms/rsync
              tag: 2.9
            args:
            - "server"
            env:
              SSH_AUTH_KEY_1: "${SECRET_RSYNC_SSH_AUTH_KEY}"

      samba:
        containers:
          app:
            image:
              repository: ghcr.io/crazy-max/samba
              tag: 4.21.4

            env:
              TZ: "${CONFIG_TIMEZONE}"

      nfs:
        containers:
          app:
            image:
              repository: ghcr.io/niki-on-github/nfs-server
              tag: "v1.2.0"

            securityContext:
              privileged: true
              capabilities:
                add: ["SYS_ADMIN", "SETPCAP"]
            env:
              # NOTE: use ';' as path seperator
              CREATE_DIRECTORIES: "/srv/nfs/pv;/srv/nfs/Filme;/srv/nfs/Musik;/srv/nfs/Serien;/srv/nfs/Bilder"
              CREATE_DIRECTORIES_MODE: !!str "0777"

      ftp:
        containers:
          app:
            image:
              repository: docker.io/stilliard/pure-ftpd
              tag: latest

            env:
              PUBLICHOST: "${CONFIG_KUBE_VIP_IP}"
              FTP_USER_NAME: ftp
              FTP_USER_PASS: ${SECRET_WEBSERVICES_PASSWORD}
              FTP_USER_HOME: /home/ftp

      tinyfilemanager:
        containers:
          app:
            image:
              repository: ghcr.io/niki-on-github/tinyfilemanager
              tag: "v2.7"


    service:
      rsync:
        controller: rsync
        type: LoadBalancer
        loadBalancerIP: "${CONFIG_KUBE_VIP_IP}"
        annotations:
          external-dns.alpha.kubernetes.io/hostname: rsync.${SECRET_DOMAIN}
        ports:
          ssh:
            port: 2222
            targetPort: 22
            protocol: TCP

      tinyfilemanager:
        controller: tinyfilemanager
        ports:
          http:
            port: 80

      samba:
        controller: samba
        type: LoadBalancer
        loadBalancerIP: "${CONFIG_KUBE_VIP_IP}"
        annotations:
          external-dns.alpha.kubernetes.io/hostname: smb.${SECRET_DOMAIN}
        ports:
          samba:
            port: 445
            protocol: TCP
            
      nfs:
        #NOTE: Cluster Internal only
        controller: nfs
        ports:
          nfs:
            port: 2049
            protocol: TCP
            
      ftp:
        controller: ftp
        type: LoadBalancer
        loadBalancerIP: "${CONFIG_KUBE_VIP_IP}"
        annotations:
          external-dns.alpha.kubernetes.io/hostname: ftp.${SECRET_DOMAIN}
        ports:
          ftp:
            port: 21
            protocol: TCP
          ftp30000:
            port: 30000
            protocol: TCP
          ftp30001:
            port: 30001
            protocol: TCP
          ftp30002:
            port: 30002
            protocol: TCP
          ftp30003:
            port: 30003
            protocol: TCP
          ftp30004:
            port: 30004
            protocol: TCP
          ftp30005:
            port: 30005
            protocol: TCP
          ftp30006:
            port: 30006
            protocol: TCP
          ftp30007:
            port: 30007
            protocol: TCP
          ftp30008:
            port: 30008
            protocol: TCP
          ftp30009:
            port: 30009
            protocol: TCP

    ingress:
      tinyfilemanager:
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: "authentication-auth@kubernetescrd"
        hosts:
          - host: &ingress1 "tfm.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: tinyfilemanager
                  port: http
        tls:
          - hosts:
              - *ingress1

    configMaps:
      config:
        suffix: config
        data:
          exports: |
            /srv/nfs ${CONFIG_CLUSTER_PODS_NETWORK_IP_POOL}(rw,async,no_subtree_check,no_auth_nlm,insecure,no_root_squash,fsid=0)
          config.yml: |
            auth:
              - user: smb
                group: smb
                uid: 1000
                gid: 1000
                password: "${SECRET_WEBSERVICES_PASSWORD}"

            global:
              - "force user = smb"
              - "force group = smb"

            share:
              - name: samba
                path: /samba
                browsable: yes
                readonly: no
                guestok: no
                validusers: smb
                writelist: smb
                veto: no
              - name: hdd
                path: /hdd
                browsable: yes
                readonly: no
                guestok: no
                validusers: smb
                writelist: smb
                veto: no

    persistence:
      data:
        suffix: data
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 128Gi
        storageClass: "local-hostpath"
        advancedMounts:
          rsync:
            app:
            - path: /data
          samba:
            app:
            - path: /samba
          nfs:
            app:
            - path: /srv/nfs
          ftp:
            app:
            - path: /home/ftp
          tinyfilemanager:
            app:
            - path: /var/www/html/data
              
      empty:
        type: emptyDir
        advancedMounts:
          samba:
            app:
            - path: /data

      nfs:
        type: configMap
        name: ${APP_NAME}-config
        advancedMounts:
          nfs:
            app:
            - path: /etc/exports
              subPath: exports
                
      samba:
        type: configMap
        name: ${APP_NAME}-config
        advancedMounts:
          samba:
            app:
            - path: /data/config.yml
              subPath: config.yml

      hdd:
        type: hostPath
        hostPath: /mnt/hdd/samba
        advancedMounts:
          samba:
            app:
              - path: /hdd
          tinyfilemanager:
            app:
            - path: /var/www/html/data/hdd

      hostkeys:
        suffix: hostkeys
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: "1Gi"
        storageClass: "openebs-zfspv-reprovisioned"
        advancedMounts:
          rsync:
            app:
            - path: /ssh_host_keys

